
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Name,  Thank you!!</h1>
        <p>@ViewBag.total are attending with you</p>
</div>
</body>
</html>
