
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <hr />
            <h1>@*@ViewData["msg"]*@</h1>
            <h1>@ViewBag.Msg</h1>
        <hr />
        <p>
            Hi Friends, I am hosting a New Job Party on 30th Aug at Leela Palace at 6:00 PM
        </p>
        <p>Please RSVP for my party by clicking <a href="/PartyInvite/RSVP">here</a></p>
    </div>